body {
    /* width: 800px;
    margin: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 128px;
    font: 1em sans-serif;
}
/*Top Section*/

.top-section {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    width: 100%;
    align-items: center; 
    height: 500px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,1);
}
.header-logo {
    color: #F9FAF8;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}
.logo-links {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 64px;
    width: 882px;
}
ul {
    list-style: none;
}
.header-links-list {
    display: flex;
    gap: 16px;
}
.hero-text {
    font-size: 48px;
    width: 400px;
    color: #F9FAF8;
    font-weight: 900;
    
}
.hero-text-sub-text {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 100;

}
.sign-up-button {
    display: block;
    box-sizing: border-box;
    width: 100px;
    margin-top: 10px;
}
.hero-image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    
}
.image-placeholder {
    width: 450px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #c3cddd49;
    color: #E5E7EB;
}

/*Info Section*/

.information-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.boxes-container {
    display: flex;
    gap: 32px;
}
.box {
    width: 150px;
    height: 150px;
    border: 1px solid;
    border-radius: 7.5%;
}
.box-one-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 150px;
}
.box-two-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 150px;
}
.box-three-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 150px;
}
.box-four-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 150px;
}

/*Quote Section*/

.quote-section {
    display: flex;
    flex-direction: column;
    padding: 32px;
    width: 650px;
}
.quoter-container {
    align-self: flex-end;
}
.quote-container {
    font-size: 30px;
    font-style: italic;
}
.quoter {
    font-weight: 900;
    font-size: 24px;
}

/*Sign-up Section*/

.sign-up-container {
    display: flex;
    padding: 32px 64px 32px;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
    border: 1px solid;
    border-radius: 10px;
    align-items: center;
}

/*Footer Section*/

.footer {
    padding: 24px;
}

/*Sign-up Button*/
button {
    padding: 8px;
    border-radius: 6px;
    border: none;
    background-color: #3882f6;
    color: #E5E7EB;
    font-weight: 900;
}




